langchain==0.2.16
langchain-core==0.2.32
langchain-community==0.2.16
langchain-experimental==0.0.49
langchain-openai==0.1.20
langchain-groq==0.1.4
openai>=1.40.0,<2.0.0
groq>=0.4.0,<1.0.0
python-dotenv==1.0.0
pandas>=2.2.3
tabulate==0.9.0
fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
scikit-learn>=1.5.0
